#about_us{
    display: flex;
    justify-content: center;
    padding: 75px 15px;
    line-height:1.3rem;
  }
  .about_us__photo1{
    max-width: 100%;
    max-height: 100%;
    border-radius: 7px;
  }
  .about_us__title{
    text-align: center;
    padding-right: 15px;
    margin-bottom: 25px;
  }
  .about_us__content{
    text-align: right;
    padding-right: 15px;
    margin-bottom: 25px;
  }
  #about_us section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
  }
  
  .column {
    margin: 10px;
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 0;
    text-align: center;
  }

  .flex {
    flex-direction: column;
  }

  p{
    text-align: justify;
  }
  .social{
    display: inline-flex;
  }
